---
layout: layout.liquid
title: Home
---

<h1>Explorer's Blog</h1>
<img alt="spaceship" src="/images/spaceship.png" width="50" />
<p>Hi! Here is where you can learn all about my adventure around the galaxy. Click on my blog posts if you want to hear my stories about my travels. 
You can also click on my About page to learn about me. My email is below so feel free to contact me at any time if you want to talk. <br><br>
Hope you enjoy my blog!
</p>