---
title: 11ty Boilerplate
---

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }}</title>
  <link rel="stylesheet" href="/styles/screen.css">
</head>
<body>
    <nav>
        <ul>
          <li><a href="/index/" title="Go home">Home</a></li>
          <li><a href="/about/" title="About the boilerplate">About</a></li>
          <li><a href="/blogpost1/" title="Blog Post 1">Blog Post 1</a></li>
          <li><a href="/blogpost2/" title="Blog Post 2">Blog Post 2</a></li>
        </ul>
      </nav>
    {{ content }}
    {% user 'Shreya Naarla', 'naarlash@msu.edu' %}
</body>
</html>