body {
    font-family: Helvetica, sans-serif;
    color: #FAFAFF;
    background: #273469;
    padding: 0 40px;
    text-align: center;
}

nav {
    margin: 40px auto 0 auto;
    width: 500px;
    border-radius: 50px;
    background: #1E2749;
}

nav ul {
    display: flex;
    justify-content: space-evenly;
    margin: 0;
    padding: 0;
}

nav ul li {
    list-style-type: none;
    margin: 0;
}

nav ul li a {
    display: inline-block;
    padding: 20px;
    color: #FAFAFF;
    text-decoration: none;
    font-size: 1.2em;
}

h1 {
    font-size: 8em;
    letter-spacing: -2px;
}

h1 strong {
    background: rgb(34,193,195);
    background: linear-gradient(45deg, #30343F 0%, #E4D9FF 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

p {
    padding-left: 200px;
    padding-right: 200px;
    padding-bottom: 50px;
}

h2 {
    padding-top: 75px;
}

p.index {
    padding-left: 300px;
    padding-right: 300px;
}

h3 {
    font-size: medium;
}